<nav class="bg-sky-800 shadow-lg sticky top-0 z-40" th:fragment="navbar">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-20">
            <div class="flex items-center">
                <a href="#"
                    class="flex-shrink-0 text-white text-2xl font-bold flex items-center nav-link-custom"
                    data-page="home">
                    <i data-lucide="plane" class="mr-2"></i>
                    QuinJet
                </a>
            </div>
            <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                    <a th:href="@{/}"
                        class="nav-link-custom ">Home</a>
                    <a th:href="@{/flights}" class="nav-link-custom">Flights</a>
                    <a href="#" class="nav-link-custom"
                        data-page="booking">About</a>
                    <a href="#" class="nav-link-custom"
                        data-page="dashboard">Contact</a>
                </div>
            </div>
            <a id="loginModalButton"
                th:if="${session.user == null}"
                th:href="@{/login}"
                class="nav-link-custom flex items-center">
                <i data-lucide="log-in" class="mr-1 lucide-sm"></i>
                Login
            </a>

            <div th:if="${session.user != null}"
                class="flex items-center space-x-4">
                <!-- User name -->
                <span class="text-white font-semibold">
                    Welcome,<a th:href="@{/dashboard}"> <span
                            th:text="${session.user.name}">User</span></a>
                </span>

                <!-- Logout button -->
                <a th:href="@{/logout}"
                    class="nav-link-custom flex items-center">
                    <i data-lucide="log-out" class="mr-1 lucide-sm"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>