<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: headFragment"></head>
    <body
        class="text-gray-800 bg-gray-50"
        style="background-image: url('/images/loginPlane.jpg'); background-size: cover; background-position: center;">

        <!-- Navbar stays at the top -->
        <div th:replace="fragments/nav :: navbar"></div>

        <!-- Centered login form -->
        <div class="flex items-center justify-center mt-10 mb-10 px-4">
            <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">

                <div class="w-full max-w-md p-8 bg-white rounded-lg ">
                    <div class="flex justify-between items-center mb-6">
                        <h2 class="text-2xl font-bold text-gray-800">Login</h2>
                    </div>

                    <form id="loginForm" class="space-y-6" th:action="@{/login}"
                        method="post">
                        <div>
                            <label for="modalEmail"
                                class="form-label-custom">Email
                                Address</label>
                            <input type="email" name="email" id="modalEmail"
                                class="input-field-custom"
                                placeholder="you@example.com" required>
                        </div>
                        <div>
                            <label for="modalPassword"
                                class="form-label-custom">Password</label>
                            <input type="password" name="password"
                                id="modalPassword"
                                class="input-field-custom"
                                placeholder="••••••••" required>
                        </div>

                        <button type="submit" id="loginSubmitButton"
                            class="btn-custom btn-primary-custom w-full">Sign In
                        </button>

                        <p class="text-sm text-center text-gray-600">
                            Don't have an account?
                            <a th:href="@{/signup}"
                                class="font-medium text-sky-600 hover:text-sky-500">
                                Sign up
                            </a>
                        </p>
                    </form>
                </div>
                <!-- copy and paste this whenever you need toast msg -->
                <th:block th:if="${error}">
                    <div class="toast-custom show bg-red-500">
                        <span th:text="${error}"></span>
                    </div>
                </th:block>
                <th:block th:if="${success}" th:unless="${error}">
                    <div class="toast-custom show bg-green-500">
                        <span th:text="${success}"></span>
                    </div>
                </th:block>

                <!-- JS -->
                <script th:src="@{/script.js}"></script>
            </div>
        </body>
    </html>
